form{
    width: 400px;
    margin: 50px auto;
    padding: 40px 10px 40px 10px;
    background: #8fbfc4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

form h2{
    color: #003366;
    margin-bottom: 20px;
}

label{
    padding: 1px 10px 0px 20px;
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}

input{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
select{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    width: 100%;
    padding: 10px;
    background: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background: #0055aa;
}

form + a{
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

form + a:hover{
    color: red;
}